{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>Modifier
                        Ticket                    </h3>
                </div>
            </div>
            <div class="panel-body">
                {{ include('ticket/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
            </div>
            <div class="panel-footer">
                <a href="{{ path('app_ticket_index') }}"><button class="btn btn-primary" title="retour à la liste"><span class="fa fa-list"></span></button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}