<div class="row">
	<div class="col-md-3">
		<button class="btn btn-success btn-block" onclick="location.href='{{ path('app_versement_index') }}';">
			<span class="fa fa-plus"></span>RECETTES
		</button>
	</div>
	<div class="col-md-3">
		<button class="btn btn-danger btn-block" onclick="location.href='{{ path('app_depense_index') }}';">
			<span class="fa fa-minus"></span>DEPENSES
		</button>
	</div>
</div>
